.button {
    margin: 10px;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
